Tabouret/tests/gamepadlayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/gamepadlayout" xmlns:tns="http://www.example.org/gamepadlayout" elementFormDefault="qualified">




    <complexType name="gamepad">
    	<sequence>
    		<element name="Trépide isocèle" type="string"></element>
    		<element name="NewElement1" type="string"></element>
    	</sequence>
    </complexType>

    <element name="gamepad" type="tns:gamepad"></element>

    <complexType name="layout"></complexType>
</schema>